.element {
  margin: 0;
  margin-left: 113px;
  margin-right: 113px;
  margin-bottom: 20px;
  cursor: pointer;
  border: 1px solid #44464d;
  z-index: 10;
  transition: all 0.2s;
}
.element:hover {
  transform: scale(1.01);
  box-shadow: 0 7px 5px 3px #d3d3d3;
}
.list {
  display: grid;
  grid-template-columns: 120px 350px 200px 200px;
}
.image {
  width: 120px;
  z-index: 1;
}
.title {
  margin: 0;
  margin-left: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  /* or 140% */
  color: #191919;
  text-decoration: none;
}
@media screen and (max-width: 1279px) {
  .element {
    margin: 0;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 1023px) {
  .list {
    grid-template-columns: 100px 300px 150px 150px;
  }
  .title {
    font-size: 18px;
  }
  .image {
    width: 100px;
  }
}
@media screen and (max-width: 767px) {
  .element {
    margin-bottom: 10px;
  }
  .element:hover {
    box-shadow: 0;
  }
  .image {
    width: 90px;
    grid-row: 1/5;
  }
  .list {
    grid-template-columns: 90px 1fr;
  }
  .title {
    font-size: 17px;
    margin-left: 10px;
  }
}
