.block {
  margin: 0;
  margin-left: 113px;
  margin-right: 113px;
  display: flex;
  flex-direction: column;
}
.movie__block {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}
.poster {
  max-width: 300px;
  margin-right: 25px;
}
.movie__detals {
  display: flex;
  flex-direction: column;
  margin-right: 25px;
}
